<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html ng-app="tree">

<head>
    <title>KiSSFLOW Wizard</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    
    <link rel="stylesheet" type="text/css" href="../../lib/bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="step.css" media="screen,projection">

    <script type="text/javascript" src="../../lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../lib/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../lib/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../../shared/js/model.js"></script>
    <script type="text/javascript" src="step.js"></script>
</head>

<script type="text/ng-template" id="branch.html">
    <table cellpadding="0" cellspacing="0" border="0" ng-init="bRange = getBranchRange(step)">
        <tr class="lines v">
            <td class="line lleft"></td>
            <td class="line lright ltop" ng-repeat-start="count in bRange"></td>
            <td class="line lleft ltop" ng-repeat-end></td>
            <td class="line lright"></td>
        </tr>
        <tr class="branch">
            <td colspan="2" ng-repeat="branch in step.getList('Branches')">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr class="nodes">
                            <td class="node" colspan="2">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tr class="nodes">
                                        <td class="node">
                                            <div class="node hasChildren" ng-init="btoggle=false" ng-click="btoggle = !btoggle">
                                                <a href="">{{ branch.getValue('Id') }}</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="nodes" ng-show="btoggle">
                                        <td class="node" data-call="step">
                                            <!--ng-include src="'step.html'"></ng-include-->
                                            <nested-step branch="branch"></nested-step>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr class="extend v">
                            <td class="line lleft"></td>
                            <td class="line lright"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="lines v">
            <td class="line lleft"></td>
            <td class="line lright lbottom" ng-repeat-start="count in bRange"></td>
            <td class="line lleft lbottom" ng-repeat-end></td>
            <td class="line lright"></td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="step.html">
<table cellpadding="0" cellspacing="0" border="0">
    <tr class="lines" ng-repeat-start="step in branch.getList('Steps')">
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr class="lines x">
                        <td class="line lleft"></td>
                        <td class="line lright"></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="nodes">
        <td class="node">
            <div class="node" ng-class="{ bnode: step.getValue('Type') == 'Parallel' }">
                <a href="">{{ step.getValue('Id') }}</a>
            </div>
        </td>
    </tr>
    <tr class="lines" ng-if="step.getValue('Type')=='Parallel'">
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr class="lines x">
                        <td class="line lleft"></td>
                        <td class="line lright"></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="nodes" ng-if="step.getValue('Type')=='Parallel'" ng-repeat-end>
        <td class="node">
            <!--ng-include src="'branch.html'"></ng-include-->
            <branch src="branch.html" step="step"></step>
        </td>
    </tr>
    <tr class="lines">
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr class="lines x">
                        <td class="line lleft"></td>
                        <td class="line lright"></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</script>
<body>
    <div class="workflow" ng-controller="MainCtrl">
        <!--ng-include src="'step.html'" ng-init="branch=rootBranch"></ng-include-->
        <step src="step.html" branch="rootBranch"></step>
    </div>
</body>

</html>

</html>
