<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html ng-app="tree">

<head>
    <title>KiSSFLOW Wizard</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="step.css" media="screen,projection">
    <script type="text/javascript" src="../../lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../lib/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../lib/bower_components/jsplumb/dist/js/jquery.jsPlumb-1.7.5-min.js"></script>
    <script type="text/javascript" src="step.js"></script>
    <script type="text/ng-template" id="next.step.html">
        <ul ng-if="step.next">
            <li ng-repeat="step in step.next track by step.Id" id="{{ step.Id }}" ng-if="step.Type!='Parallel'">
                <a href="#">{{ step.Name }} - {{ step.Id }}</a>
                <ng-include src="'next.step.html'"></ng-include>
            </li>
            <li ng-repeat="step in step.next track by step.Id" id="{{ step.Id }}" ng-if="step.Type=='Parallel'">
                <a href="#">B{{ step.Name }} - {{ step.Id }}</a>
                <ul ng-if="step.Branches">
                    <li ng-repeat="branch in step.Branches track by branch.Id" id="{{ branch.Id }}">
                        <a href="#">{{ branch.Name }} == {{ branch.Id }}</a>
                        <ul ng-if="branch.Steps">
                            <li ng-repeat="step in getBranchSteps(branch) track by step.Id" id="{{ step.Id }}">
                                <a href="#">{{ step.Name }} - {{ step.Id }}</a>
                                <ng-include src="'next.step.html'"></ng-include>
                            </li </ul>
                    </li>
                    </ul>
            </li>
            </ul>
    </script>

    <script type="text/ng-template" id="branch.html">
        <li id="{{ branch.Id }}">
            <a href="#" class="branch" ng-click="toggleBranch(branch)">{{ branch.Name }} == {{ branch.Id }}</a>
        </li>
    </script>

    <script type="text/ng-template" id="step.html">
        <ul>
            <li id="{{ step.Id }}">
                <a href="#">{{ step.Name }} - {{ step.Id }}</a>
                <ul ng-if="step.Branches">
                  <branch src='branch.html' ng-repeat='branch in step.Branches' branch='branch'></branch>
                </ul>
            </li>
        </ul>
    </script>
</head>

<body>
    <!--div class="tree" id="tree" ng-controller="MainCtrl">
        <ul>
            <li ng-repeat="step in steps track by step.Id" id="{{ step.Id }}">
                <a href="#">{{ step.Name }} - {{ step.Id }}</a>
                <ng-include src="'next.step.html'"></ng-include>
            </li </ul>
    </div-->
    <div class="tree" id="tree" ng-controller="MainCtrl">
        <step src="step.html" step="firstStep"></step>
    </div>
</body>

</html>

</html>
