<div class="row margin-bottom-null">
    <div ng-if="steps.getValue('Type')=='Approval' || steps.getValue('Type')=='ProvideInput'" class="step">
        <div class="col m12 row margin-bottom-null">
                <p class="black-text caption"><i class="mdi-image-navigate-next small"></i>{{steps.getValue('Name')}}</p>
        </div>
    </div>

    <div ng-if="steps.getValue('Type')=='Parallel'">
        <div ng-repeat="branch in steps.getList('Branches')"> 
            <div class="col m12 row margin-bottom-null"> 
                <div ng-repeat="branchSteps in branch.getList('Steps')">
                    <div class="row col m12 margin-bottom-null">
                        <flow-private-include url="permissions/views/permissions.step.html" steps='branchSteps'></flow-private-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>            
<div class="bottom-border"></div>